---
import Layout from "@/layouts/Layout.astro";
import type { Post } from "../index.astro";
import BackIcon from "@/components/BackIcon.astro";

export async function getStaticPaths() {
  const builderModel = import.meta.env.BUILDER_BLOGPOST_MODEL;
  const builderAPIpublicKey = import.meta.env.BUILDER_API_PUBLIC_KEY;
  const { results: posts }: { results: Post[] } = await fetch(
    `https://cdn.builder.io/api/v3/content/${builderModel}?${new URLSearchParams(
      {
        apiKey: builderAPIpublicKey,
        fields: ["data.slug", "data.title"].join(","),
        cachebust: "true",
      },
    ).toString()}`,
  )
    .then((res) => res.json())
    .catch((e) => console.log(e));
  return [
    ...posts.flatMap(({ data: { slug, title } }) => [
      {
        params: { slug },
        props: { title },
      },
    ]),
  ];
}
const { slug } = Astro.params;
const { title } = Astro.props;
const builderModel = import.meta.env.BUILDER_BLOGPOST_MODEL;
const builderAPIpublicKey = import.meta.env.BUILDER_API_PUBLIC_KEY;
const encodedUrl = encodeURIComponent("moot");
const { html: postHTML } = await fetch(
  `https://cdn.builder.io/api/v1/qwik/${builderModel}?${new URLSearchParams({
    apiKey: builderAPIpublicKey,
    url: encodedUrl,
    "query.data.slug": slug,
    cachebust: "true",
  }).toString()}`,
)
  .then((res) => res.json())
  .catch();
---

<Layout title=`Wcydtt | ${title}`>
  <div class="flex justify-center">
    <div class="lg:prose-md prose py-6">
      <div class="flex gap-3"></div>
      <div>
        <Fragment set:html={postHTML} />
        <BackIcon />
      </div>
    </div>
  </div>
</Layout>
