<div class="flex items-center py-5">
  <button
    onclick="history.back()"
    class="group flex items-center space-x-2 rounded-md px-4 py-2 text-sm font-medium transition-colors duration-300 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-offset-2 active:bg-gray-200"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-5 w-5 transition-transform duration-300 group-hover:-translate-x-1"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"></path>
    </svg>
    <span>Back</span>
  </button>
</div>
